
body{
	background-color:#DDDDDD;
}

.main_menu{

	background-color: #FF0101;
}

.container{

	width: 70%;
	float: left;
}


sidebar{
	width: 30%;
	float: left;
}


.widget_title{

	color: #0000FF;

}

